.cusPreChat-FormBtns:hover, .cusPreChatFormBtns:hover .cusPreChat-FormBtnchild,.cusPreChatFormBtns:hover .cusPreChat-FormBtnchild path {
    color: #004071 !important;
    fill: #004071;
}
.cusPreChat-FormBtns, .cusPreChatFormBtns .cusPreChat-FormBtnchild, .cusPreChatFormBtns .cusPreChat-FormBtnchild path {
    color: #006BBD;
    fill: #006BBD;
}
.embeddedServiceSidebarHeader,.embeddedServiceSidebarMinimizedDefaultUI{
    background-color:#00447C!important;
    border:1px!important
}
.embeddedServiceSidebarFormField .uiInput .uiLabel-left{
    padding-top:0!important;
    margin-top:11px;
    color:#444!important;
    font-weight:300!important
}
.embeddedServiceSidebarForm.formContent{
    background:#f1f1f1!important
}
.embeddedServiceHelpButton .helpButton .uiButton{
    background-color:#005290!important;
    font-family:"Salesforce Sans",sans-serif
}
.embeddedServiceHelpButton .helpButton .uiButton:focus{
    outline:#005290 solid 1px
}
.embeddedServiceSidebarForm .uiButton,.embeddedServiceSidebarFormField .slds-style-inputtext{
    border-radius:0!important
}
.embeddedServiceSidebarFormField .slds-style-inputtext{
    border-radius:0!important;
    border:none!important
}
.embeddedServiceSidebarForm.buttonWrapper{
    background:linear-gradient(to bottom,rgba(247,247,247,0) 0,rgba(247,247,247,1) calc(100% - 77px),rgba(247,247,247,1) 100%)
}
.embeddedServiceSidebarButton.uiButton--inverse{
    background:#f7f7f7!important;
    border-radius:0!important;
    border:1px solid #ccc!important
}
.embeddedServiceSidebarButton.uiButton--inverse:not(:disabled):focus{
    box-shadow:0 0 3px 0 #ddd!important
}
.embeddedServiceSidebarDialogState .dialogButton{
    border-radius:0!important
}
.embeddedServiceSidebarDialogState .dialogButton:not(:disabled):focus{
    text-decoration:none!important
}
.embeddedServiceSidebarFormField .slds-style-inputtext,.embeddedServiceSidebarFormField .slds-style-select{
    color:#444!important
}
.embeddedServiceSidebarForm .fieldList{
    margin:12px 12px 0 0!important
}
.embeddedServiceLiveAgentStateChatHeaderOption .optionName{
    color:#fff!important;
    text-decoration:none!important
}
.embeddedServiceSidebarHeader .headerText{
    margin-bottom:0!important
}
.embeddedServiceSidebarMinimizedDefaultUI .minimizedImage{
    display:none!important
}
.embeddedServiceLiveAgentStateChatHeader.reconnecting.alert{
    background-color:#cb2b19!important;
    padding-top:46px!important
}
.embeddedServiceSidebarForm.buttonWrapper{
    background-color:#f1f1f1!important
}
.cusPreChat-modalContainer,.cusPreChat-shortHeader{
    font-weight:400;
    -webkit-font-smoothing:subpixel-antialiased
}
.cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton .cusPreChat-uiButton:focus,.cusPreChat-headerItem:focus,.cusPreChat-headerItem:hover{
    outline:0
}
.cusPreChat-modalContainer{
    box-sizing:border-box;
    line-height:1.5;
    color:#212529;
    display:block;
    position:fixed;
    z-index:5001;
    font-family:"Salesforce Sans",sans-serif;
    top:0;
    font-size:16px;
    pointer-events:all;
    backface-visibility:hidden;
    text-align:left
}
.cusPreChat-modalContainer li,.cusPreChat-modalContainer ul{
    display:block;
    list-style:none
}
.cusPreChat-dockableContainer{
    width:320px;
    max-height:720px;
    border-radius:8px 8px 0 0;
    position:fixed;
    left:auto;
    bottom:0;
    right:20px;
    margin:0;
    height:90%;
    box-shadow:2px 2px 20px rgba(0,0,0,.2);
    z-index:15;
    text-align:center;
    overflow:hidden;
    max-width:40em;
    pointer-events:all
}
.cusPreChat-embeddedServiceSidebarHeader{
    position:absolute;
    top:0;
    width:100%;
    border-radius:8px 8px 0 0;
    background-color:#00447C;
    border:1px;
    text-align:center;
    pointer-events:all
}
.cusPreChat-shortHeader{
    color:#fff;
    border-radius:8px 8px 0 0;
    line-height:3;
    text-align:center;
    font-size:.875em;
    height:44px;
    clear:both;
    overflow:hidden;
    z-index:3;
    position:relative;
    transform:translate3d(0,0,0)
}
.cusPreChat-shortHeaderContent{
    position:relative;
    display:flex;
    height:100%
}
.cusPreChat-headerItem{
    color:#fff;
    font-size:1em;
    background:0 0;
    border:none
}
.cusPreChat-headerItem:focus:before,.cusPreChat-headerItem:hover:before{
    content:" ";
    position:absolute;
    background-color:#fff;
    opacity:.2;
    border-radius:4px;
    box-sizing:border-box;
    pointer-events:none;
    top:20%
}
.cusPreChat-closeButton,.cusPreChat-minimizeButton{
    transition:color .7s ease;
    padding:14px;
    line-height:0
}
.cusPreChat-minimizeButton:focus:before,.cusPreChat-minimizeButton:hover:before{
    right:48px;
    width:30px;
    height:60%
}
.cusBotPreChat-minimizeButton:focus:before,.cusBotPreChat-minimizeButton:hover:before{
    left:6px!important;
    width:30px;
    height:60%
}
.cusPreChat-closeButton:focus:before,.cusPreChat-closeButton:hover:before{
    right:6px;
    width:30px;
    height:60%
}
.cusPreChat-assistiveText{
    position:absolute;
    height:1px;
    width:1px;
    overflow:hidden;
    clip:rect(1px,1px,1px,1px)
}
.cusPreChat-embeddedServiceIcon{
    display:flex
}
.cusPreChat-embeddedServiceIcon svg{
    display:inline-block;
    box-sizing:border-box;
    width:1em;
    height:1em;
    fill:#fff
}
.cusPreChat-headerText{
    color: #ffffff;
    margin: 0;
    align-self: center;
    flex-grow: 1;
    text-align: left;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: inherit;
    font-weight: 400;
    letter-spacing: .025em;
    padding-left: 14px;
}
.cusPreChat-sidebarBody{
    position:absolute;
    width:100%;
    height:100%;
    top:44px;
    z-index:0;
    background-color:#f1f1f1;
    transform:translate3d(0,0,0);
    -webkit-overflow-scrolling:touch
}
.cusPreChat-sidebarLoadingIndicator{
    position:relative;
    height:100%;
    background-color:#fff
}
.cusPreChat-activeFeature{
    width:100%;
    height: 100%
}
.cusPreChat-embeddedServiceLiveAgentStatePrechatDefaultUI{
    overflow:hidden;
    height:100%;
    background: #ffffff;
    position:absolute
}
.cusPreChat-formContent{
    width:320px;
    height:calc(100% - 98px);
    overflow-y:auto;
    position:relative;
    background-color:#ffffff;
    margin-bottom:81px;
    border-radius:0 0 8px 8px
}
.cusPreChat-fieldList{
    margin:5px 12px 0 0;
    padding:0
}

.cusPreChat-fieldList .readonlyContainer{
    margin: 0 1.5em 6px 1.2em; 
    text-align: left;
    position: relative;
    font-size: .75em;
    color: #444444;
}
.cusPreChat-embeddedServiceSidebarFormField{
    display:block;
    margin-block-end:0;
    margin-inline-start:0;
    margin-inline-end:0;
    padding-inline-start:40px;
    list-style:none;
    padding:0;
    box-sizing:border-box;
    margin-left:12px
}
.cusPreChat-embeddedServiceSidebarFormField.cusPreChat-inputSplitName{
    width:calc(50% - 12px);
    display:inline-block;
    vertical-align:top;
    margin-left:9px
}
.cusPreChat-split-field-container{
    margin-bottom:6px
}
.cusPreChat-uiInput{
    text-align:left
}
.cusPreChat-uiInput .cusPreChat-uiLabel-left{
    padding:0!important;
    color:#444!important;
    font-weight:300!important;
    position:relative;
    font-size:.75em;
    line-height:1.5;
    margin:11px .75em 2px 1px
}
.cusPreChat-uiInput .cusPreChat-required{
    position:absolute;
    color:#c23934;
    left:-6px;
    top:0
}
.cusPreChat-slds-style-inputtext{
    display:inline-block;
    line-height:30px;
    box-sizing:border-box;
    box-shadow:none;
    background-color:#fff;
    width:100%;
    height:44px !important;
    padding:0 12px !important;
    font-size:.875em;
    border:none !important;
}
.cusPreChat-slds-style-inputtext:focus{
    outline:0;
    box-shadow:0 0 2px 0 #007db8
}
.cusPreChat-buttonWrapper{
    text-align:center;
    padding:0px 24px 24px;
    margin:0;
    width:320px;
    position:fixed;
    box-sizing:border-box;
    bottom:44px;
     background: #ffffff
}
.cusPreChat-embeddedServiceSidebarButton{
    background:#007db8;
    font-family:"Roboto Regular",sans-serif;
    border-radius:0!important;
    position:relative;
    border:none;
    text-shadow:none;
    box-shadow:none;
    transition:background .4s ease;
    color:#fff;
    font-size:1em;
    font-weight:400;
    width:100%;
    margin:0;
    height:44px
}
.cusPreChat-embeddedServiceSidebarButton:not(:disabled){
    cursor:pointer
}
.cusPreChat-embeddedServiceSidebarButton:not(:disabled):focus,.cusPreChat-embeddedServiceSidebarButton:not(:disabled):hover{
    background:#004b6e
}
.cusPreChat-embeddedServiceSidebarButton:disabled{
    opacity: 0.4;
}
.cusPreChat-has-error{
    margin:0 0 0px;
    padding:0
}
.cusPreChat-has-error .cusPreChat-form-element__help{
    font-size:.75em;
    color:#c23934
}
.cusPreChat-embeddedServiceHelpButton{
    display:block;
    position:fixed;
    top:0;
    left:0;
    background:0 0;
    box-shadow:none;
    overflow:visible;
    z-index:1000;
    font-family:sans-serif
}
.cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton{
    position:fixed;
    bottom:12px;
    right:12px;
    height:46px;
    -webkit-font-smoothing:subpixel-antialiased
}
.cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton .cusPreChat-uiButton{
    box-sizing:border-box;
    margin:0;
    padding:0 12px;
    height:46px;
    box-shadow:0 0 12px 0 rgba(0,0,0,.5);
    border-radius:23px;
    line-height:1;
    background:#007db8;
    font-size:.875em;
    color:#fff;
    font-weight:400;
    text-shadow:none;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    font-family:"Roboto Regular",sans-serif;
    width:168px;
    cursor:pointer;
    position:relative;
    border:0
}
.cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton .cusPreChat-helpButtonEnabled:focus::before,.cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton .cusPreChat-helpButtonEnabled:hover::before{
    content:" ";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:23px;
    background-color:#000;
    opacity:.2;
    pointer-events:none
}
.cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton .cusPreChat-uiButton .cusPreChat-label{
    color:#fff
}
.cusPreChat-embeddedServiceHelpButton .cusPreChat-uiButton .cusPreChat-helpButtonLabel{
    position:relative;
    z-index:1;
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-flex:1;
    -webkit-flex-grow:1;
    -ms-flex-positive:1;
    flex-grow:1;
    -webkit-align-self:stretch;
    -ms-flex-item-align:stretch;
    align-self:stretch;
    max-width:100%;
    line-height:normal;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis
}
@media only screen and (min-width:48em){
    .cusPreChat-embeddedServiceHelpButton{
        background-color:transparent
    }
    .cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton{
        position:fixed;
        bottom:0
    }
    .cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton .cusPreChat-uiButton,.cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton .cusPreChat-uiButton:focus::before,.cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton .cusPreChat-uiButton:hover::before{
        border-radius:8px 8px 0 0
    }
}
.cusPreChat-sidebarLoadingIndicator{
    align-self:stretch;
    max-height:100%;
    flex-grow:1;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    padding:0 24px
}
.cusPreChat-loadingBallContainer{
    display:inline-block
}
.cusPreChat-loadingBallContainer.cusPreChat-animated .cusPreChat-loadingBall{
    animation:cusPreChat-ballanimate 2.25s infinite ease-in-out;
    display:inline-block;
    width:1em;
    height:1em;
    border-radius:2em;
    font-size:8px;
    text-align:center;
    background:#0074bd;
    margin:3px
}
.cusPreChat-embeddedServiceLoadingBalls.cusPreChat-animated .cusPreChat-second{
    animation-name:cusPreChat-ballanimate-2
}
.cusPreChat-embeddedServiceLoadingBalls.cusPreChat-animated .cusPreChat-third{
    animation-name:cusPreChat-ballanimate-3
}
@keyframes cusPreChat-ballanimate{
    0%,32%{
        transform:scale(1)
    }
    16%{
        transform:scale(1.5)
    }
}
@keyframes cusPreChat-ballanimate-2{
    32%,64%{
        transform:scale(1)
    }
    48%{
        transform:scale(1.5)
    }
}
@keyframes cusPreChat-ballanimate-3{
    64%,96%{
        transform:scale(1)
    }
    80%{
        transform:scale(1.5)
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .cusPreChat-buttonWrapper{
        bottom: 3px;
    }
}
body.embeddedServicePreventScrolling {
    overflow: auto !important;
    position: inherit !important;
}
.dockableContainer .endChatContainer .endChatButton.postChatButton{
    background:#007db8!important;
    border:none!important
}
.dockableContainer .endChatContainer .endChatButton.postChatButton span{
    color:#fff!important
}
.dockableContainer .endChatContainer .endChatButton.postChatButton:focus,.dockableContainer .endChatContainer .endChatButton.postChatButton:hover{
    background:#004b6e!important;
    text-decoration:none
}
.dockableContainer .endChatContainer .endChatButton.closeChatButton{
    color:#007db8;
    background:#f7f7f7!important;
    border-radius:0!important;
    border:1px solid #ccc!important
}
.dockableContainer .endChatContainer .endChatButton.closeChatButton span{
    color:#007db8
}
.dockableContainer .endChatContainer .endChatButton.closeChatButton span:hover{
    color:#007db8;
    text-decoration:underline
}
 h2[embeddedService-chatHeader_chatHeader]{
    color: #fff !important;
}

.cusPreChat-routingResponceChatUnavailable{
    margin: 160px 12px;
    font-size: 14px;
}

.changeSubscription{
    cursor: pointer;
    margin-left: 8px;
    color: #0672CB
}
.changeSubscription:hover, .changeSubscription:focus{
    color: #004b6e;
    text-decoration:underline
}
/* PrechatLoader Start*/
.cusPreChat-loader {
    margin: 120px auto;
    border: 6px solid #E4E4E4;
    border-radius: 50%;
    border-top: 6px solid #0071B2;
    width: 48px;
    height: 48px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
/* PrechatLoader End*/
