.cusPreChat-modalContainer{
	box-sizing: border-box;
	font-family: 'Salesforce Sans',sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight: 400;
    line-height: 1.5;
    color: #212529;
	display: block;
    position: fixed;
    z-index: 1001;
    font-family: 'Salesforce Sans',sans-serif;
    top: 0;
	font-size: 16px;
    pointer-events: all;
    backface-visibility: hidden;
	text-align: left;
} 
.cusPreChat-modalContainer ul, .cusPreChat-modalContainer li {
	display: block;
	list-style: none;
}
.cusPreChat-dockableContainer{
	width: 320px;
    max-height: 720px;
    border-radius: 8px 8px 0 0;
	position: fixed;
    left: auto;
    bottom: 0;
    right: 20px;
    margin: 0;
    height: 90%;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
	z-index: 15;
    text-align: center;
    overflow: hidden;
    max-width: 40em;
    pointer-events: all;
}

.cusPreChat-embeddedServiceSidebarHeader {
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 8px 8px 0 0;
    background-color: #00447C;
    border: 1px;
	text-align: center;
	pointer-events: all;
}
	.cusPreChat-shortHeader {
		color: #fff;
		border-radius: 8px 8px 0 0;
		line-height: 3;
		text-align: center;
		font-weight: 400;
		font-size: .875em;
		height: 44px;
		clear: both;
		overflow: hidden;
		z-index: 3;
		position: relative;
		transform: translate3d(0, 0, 0);
		-webkit-font-smoothing: subpixel-antialiased;
	}
		.cusPreChat-shortHeaderContent {
			position: relative;
			display: flex;
			height: 100%;
		}
			.cusPreChat-headerItem {
				color: #fff;
				font-size: 1em;
				background: none;
				border: none;
			}
			.cusPreChat-headerItem:focus, .cusPreChat-headerItem:hover{
				outline: none;
			}
			.cusPreChat-headerItem:focus:before, .cusPreChat-headerItem:hover:before {
				content: " ";
				position: absolute;
				background-color: #fff;
				opacity: .2;
				border-radius: 4px;
				box-sizing: border-box;
				pointer-events: none;
				top: 20%;
			}
			.cusPreChat-minimizeButton, .cusPreChat-closeButton{
				transition: color .7s ease;
				padding: 14px;
				line-height: 0;
			}
			.cusPreChat-minimizeButton:focus:before, .cusPreChat-minimizeButton:hover:before {
				left: 6px;
				width: 30px;
				height: 60%;
			}
			.cusPreChat-closeButton:focus:before, .cusPreChat-closeButton:hover:before {
				right: 6px;
				width: 30px;
				height: 60%;
			}
				.cusPreChat-assistiveText {
					position: absolute;
					height: 1px;
					width: 1px;
					overflow: hidden;
					clip: rect(1px, 1px, 1px, 1px);
				}
				.cusPreChat-embeddedServiceIcon {
					display: flex;
				}
				.cusPreChat-embeddedServiceIcon svg {
					display: inline-block;
					box-sizing: border-box;
					width: 1em;
					height: 1em;
					fill: #fff;
				}
			.cusPreChat-headerText {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-grow: 1;
				align-self: stretch;
				width: calc(100% - 96px);
				color: #fff;
				text-decoration: none;
				line-height: normal;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-weight: normal;
				font-size: 1em;
			}

.cusPreChat-sidebarBody {
    position: absolute;
    width: 100%;
    height: calc(100% - 44px);
    top: 44px;
    z-index: 0;
    background-color: #f1f1f1;
    transform: translate3d(0, 0, 0);
    -webkit-overflow-scrolling: touch;
}

	.cusPreChat-sidebarLoadingIndicator{
		position: relative;
		height: 100%;
		background-color: #fff;
		display: none;
	}
	.cusPreChat-activeFeature {
		width: 100%;
		height: 100%;
	}
		.cusPreChat-embeddedServiceLiveAgentStatePrechatDefaultUI {
			overflow: hidden;
			max-height: 100%;
			height: 100%;
			position: relative;
		}
			.cusPreChat-formContent {
				width: 100%;
				height: calc(100% - 70px);
				overflow-y: auto;
				position: relative;
				background-color: #f1f1f1;
				margin-bottom: 81px;
				border-radius: 0 0 8px 8px;
			}
				.cusPreChat-fieldList {
					margin: 12px 12px 0 0px;
					padding: 0;
				}
					.cusPreChat-embeddedServiceSidebarFormField {
						display: block;
						list-style: none;
						margin-block-end: 1em;
						margin-inline-start: 0px;
						margin-inline-end: 0px;
						padding-inline-start: 40px;
						list-style: none;
						padding: 0;
						box-sizing: border-box;
						margin-left: 12px;
					}
					.cusPreChat-embeddedServiceSidebarFormField.cusPreChat-inputSplitName {
						width: calc(50% - 12px);
						display: inline-block;
						vertical-align: top;
						margin-left: 9px;
					}
						.cusPreChat-split-field-container{	
							margin-bottom: 6px;
						}
							.cusPreChat-uiInput {
								text-align: left;
							}
							.cusPreChat-uiInput .cusPreChat-uiLabel-left {
								padding-top: 0px !important;
								margin-top: 11px;
								color: #444 !important;
								font-weight: 300 !important;
								position: relative;
								font-size: .75em;
								line-height: 1.5;
								margin-right: .75em;
								margin-left: .5em;
								margin-bottom: 2px;
							}
							.cusPreChat-uiInput .cusPreChat-required {
								position: absolute;
								color: rgb(194, 57, 52);
								left: -6px;
								top: 0;
							}
							.cusPreChat-slds-style-inputtext {
								display: inline-block;
								line-height: 30px;
								box-sizing: border-box;
								box-shadow: none;
								background-color: #fff;
								width: 100%;
								height: 44px;
								padding: 0 12px;
								font-size: .875em;
								border: none;
							}
							.cusPreChat-slds-style-inputtext:focus{
								outline: none;
								box-shadow: 0 0 2px 0 #007db8;
							}
		.cusPreChat-buttonWrapper {
			text-align: center;
			padding: 30px 24px 24px;
			margin: 0;
			width: 100%;
			position: absolute;
			box-sizing: border-box;
			bottom: 0;		
		}
			.cusPreChat-embeddedServiceSidebarButton {
				background: #007db8;
				font-family: "Roboto Regular",sans-serif;
				border-radius: 0 !important;
				position: relative;
				border: none;
				text-shadow: none;
				box-shadow: none;
				transition: background .4s ease;
				color: #fff;
				font-size: 1em;
				font-weight: 400;
				width: 100%;
				margin: 0;
				height: 44px;
				cursor: pointer;
			}
			.cusPreChat-embeddedServiceSidebarButton:not(:disabled):focus, .cusPreChat-embeddedServiceSidebarButton:not(:disabled):hover {
				background: #004b6e;
			}

	.cusPreChat-has-error{
		margin: 0;
		padding: 0;
		margin-bottom: 6px;
	}
	.cusPreChat-has-error .cusPreChat-form-element__help {
		font-size: .75em;
		margin-top: .5rem;
		color: rgb(194, 57, 52);
	}

.cusPreChat-embeddedServiceHelpButton {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	background: transparent;
	box-shadow: none;
	overflow: visible;
	z-index: 1000;
	font-family: sans-serif
}
.cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton {
    position: fixed;
    bottom: 12px;
    right: 12px;
    height: 46px;
    -webkit-font-smoothing: subpixel-antialiased
}

.cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton .cusPreChat-uiButton {
    box-sizing: border-box;
    margin: 0;
    padding: 0 12px;
    height: 46px;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.5);
    border-radius: 23px;
    line-height: 1;
    background: #000;
    font-size: .875em;
    color: #fff;
    font-weight: normal;
    text-shadow: none;
    font-family: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
	flex-direction: row;
	background-color: #007db8;
	font-family: "Roboto Regular", sans-serif;
	width: 168px;
	cursor: pointer;
	position: relative;
	border: 0;
}
.cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton .cusPreChat-uiButton:focus {outline: 0;}
.cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton .cusPreChat-helpButtonEnabled:hover::before, .cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton .cusPreChat-helpButtonEnabled:focus::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 23px;
    background-color: #000;
    opacity: .2;
    pointer-events: none;
}
.cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton .cusPreChat-uiButton .cusPreChat-label {
    color: #fff
}
.cusPreChat-embeddedServiceHelpButton .cusPreChat-uiButton .cusPreChat-helpButtonLabel {
    position: relative;
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    max-width: 100%;
    line-height: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media only screen and (min-width: 48em) {
    .cusPreChat-embeddedServiceHelpButton  {
        background-color:transparent
	}
	.cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton {
        position:fixed;
        bottom: 0
    }

    .cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton .cusPreChat-uiButton {
        border-radius: 8px 8px 0 0
    }

    .cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton .cusPreChat-uiButton:hover::before,.cusPreChat-embeddedServiceHelpButton .cusPreChat-helpButton .cusPreChat-uiButton:focus::before {
        border-radius: 8px 8px 0 0
    }
}


.cusPreChat-sidebarLoadingIndicator{
	align-self: stretch;
    max-height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 24px;
}
.cusPreChat-loadingBallContainer{
	display: inline-block;
}
.cusPreChat-loadingBallContainer.cusPreChat-animated .cusPreChat-loadingBall {
	animation: cusPreChat-ballanimate 2.25s infinite ease-in-out;
	display: inline-block;
    width: 1em;
    height: 1em;
	border-radius: 2em;
	font-size: 8px;
    text-align: center;
    background: #fff;
    margin: 3px;
    background-color: #0074bd;
}
.cusPreChat-embeddedServiceLoadingBalls.cusPreChat-animated .cusPreChat-second {
    animation-name: cusPreChat-ballanimate-2
}

.cusPreChat-embeddedServiceLoadingBalls.cusPreChat-animated .cusPreChat-third {
    animation-name: cusPreChat-ballanimate-3
}
@keyframes cusPreChat-ballanimate {
    0% {
        transform: scale(1.0);
    }

    16% {
        transform: scale(1.5);
    }

    32% {
        transform: scale(1.0);
    }
}

@keyframes cusPreChat-ballanimate-2 {
    32% {
        transform: scale(1.0)
    }

    48% {
        transform: scale(1.5)
    }

    64% {
        transform: scale(1.0)
    }
}

@keyframes cusPreChat-ballanimate-3 {
    64% {
        transform: scale(1.0)
    }

    80% {
        transform: scale(1.5)
    }

    96% {
        transform: scale(1.0)
    }
}